<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        Wildlife Collisions by the numbers
      </ion-card-header>
      <img src="../../assets/images/MooseCrossingRoad.jpg" alt="">
      <ion-card-content>
        A 2008 Congressional study found that one in 20 reported motor vehicle collisions in the United States are related in one way or another to 
        animals. These numbers also peak during Fall season, with more than 30,000 injuries and 200 human deaths. These collisions cost more than $9 billion
        per year, including vehicle repair costs, medical services etc.

      </ion-card-content>
    </ion-card>
</ion-content>
